.commands {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  position: absolute;
}

.filters_container {
  display: flex;
  flex-direction: column;
}

.image_container_wrapper {
  flex: 1;
}

.fieldset {
  border: none;
  text-align: center;
  display: flex;
  justify-content: space-between;
  gap: 2px;
}

.fieldset legend {
  margin-bottom: 5px;
}

.filters_legend {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .commands {
    width: 100%;
  }
}