.outer_container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  outline: 1px var(--bgSoft) solid;
}

.stats_container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(100, 100, 100, 0.5);
  padding: 1px 1px 2px 2px;
  border-bottom-left-radius: 5px;
  transition: background-color 0.5s;
  color: white;
}

.stats_container:hover {
  background-color: rgba(100, 100, 100, 1);
}

/** This is responsable to overflow the container (scroll) */
.inner_container {
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/** 
* set the container at the middle, when is smaller
* than the canvas 
*/
.inner_inner_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1px;
  display: grid; /* position at middle */
}

.container {
  position: relative;
  outline: 1px var(--text) dashed;
  margin: auto; /* position at middle */

  overflow: hidden;
}

.container:hover {
  outline-width: 2px;
}

.bg_container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.image {
  transition: all 0.1s;
  z-index: 2;
}

.image:hover {
  outline: 1px black dotted;
}

.no_image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  outline: 1px var(--text) dashed;
  outline-offset: -10px;
  transition: all 0.5s;
  text-align: center;
}

/* drag */

.on_dradding_idle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  background-color: var(--bgSoft);
  opacity: 0;
  transition: all 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

.on_dragging {
  z-index: 20;
  opacity: 0.8;
}

/* square_background_pattern */
.square_background_pattern {
  background-color: #999;
  background-image: repeating-linear-gradient(
      45deg,
      rgb(from #4c4c4c r g b / 50%) 25%,
      transparent 25%,
      transparent 75%,
      rgb(from #4c4c4c r g b / 50%) 75%,
      rgb(from #4c4c4c r g b / 50%)
    ),
    repeating-linear-gradient(
      45deg,
      rgb(from #4c4c4c r g b / 50%) 25%,
      rgb(from #999999 r g b / 50%) 25%,
      rgb(from #999999 r g b / 50%) 75%,
      rgb(from #4c4c4c r g b / 50%) 75%,
      rgb(from #4c4c4c r g b / 50%)
    );
  background-position: 0 0, 9px 9px;
  background-size: 18px 18px;
}

.square_background_pattern_small {
  background-color: #999;
  background-image: repeating-linear-gradient(
      45deg,
      rgb(from #4c4c4c r g b / 50%) 25%,
      transparent 25%,
      transparent 75%,
      rgb(from #4c4c4c r g b / 50%) 75%,
      rgb(from #4c4c4c r g b / 50%)
    ),
    repeating-linear-gradient(
      45deg,
      rgb(from #4c4c4c r g b / 50%) 25%,
      rgb(from #999999 r g b / 50%) 25%,
      rgb(from #999999 r g b / 50%) 75%,
      rgb(from #4c4c4c r g b / 50%) 75%,
      rgb(from #4c4c4c r g b / 50%)
    );
  background-position: 0 0, 5px 5px;
  background-size: 10px 10px;
}
